/* Базовые стили */

body, html {
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#plate{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30vh; /* Используем vh для адаптивности */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 5;
    background-color: var(--tg-theme-section-bg-color, white); /* Добавлен фон для контейнера формы */
    padding: 0; /* Добавлен отступ для контейнера */
    transition: height 0.1s linear; 
    padding-bottom: 0 !important;

}

#form-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30vh; /* Используем vh для адаптивности */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    background-color: var(--tg-theme-section-bg-color, white); /* Добавлен фон для контейнера формы */
    padding: 0; /* Добавлен отступ для контейнера */
    transition: height 0.3s linear; 
    padding-bottom: 0 !important;
}

#form-container.active {
    height: 80%;
    max-height: 80%;
    top: 20%;
    bottom: 0px;
}

#toggle-form-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Центрирует кнопку по горизонтали */
    background-color: transparent;
    border: none;
    padding: 0px; /* Добавлен отступ для кнопки */
}

#toggle-arrow {
    transition: transform 0.3s ease;
    width: 60px;
    height: 40px;
    stroke: var(--tg-theme-button-color, #0088cc); /* Зеленый цвет для стрелки */
}

#form-container.active #toggle-arrow {
    transform: rotate(180deg); /* Поворот стрелки на 180 градусов */
}

.map-btn {
    position: relative;
    background-color: var(--tg-theme-section-bg-color, white);
    border: none;
    padding: 0px; /* Добавлен отступ для кнопки */
    display: block;
}

.icon {
    width: 100%;
    height: 100%;
    background-color: var(--tg-theme-section-bg-color, white);
}

svg {
    width: 10%;
    height: 10%;
    background-color: var(--tg-theme-section-bg-color, white);
    background-color: transparent;
}

.from-input-container {
    display: flex;
    width: 100%;
    height: 15%; /* Используем проценты для адаптивности */
    justify-content: center; /* Центрирует по горизонтали */
    overflow: hidden; /* Скрываем выступающие части */
}

.combined-input-container {
    display: flex;
    width: 100%;
    border-radius: 4px; /* Скругление углов */
    overflow: hidden; /* Скрываем выступающие части */
    border-width: 1px;
}

.input-field {
    border: none;
    outline: none;
    margin: 1vh;
    padding: 10px;
    padding-left:2.5%;
    font-size: 16px;
    box-sizing: border-box; /* Включает padding и border в ширину элемента */
    background-color: var(--tg-theme-section-bg-color, white);
    color: var(--tg-theme-text-color, black);

}

/* Стили для подсказок */
.suggestions-list {
    position: fixed;
    z-index: 20;
    width: 100%;
    background-color: var(--tg-theme-bg-color, white);
    border-radius: 4px;

    max-height: 150px; /* Ограничение высоты для подсказок */
    overflow-y: auto; /* Прокрутка, если подсказок много */
}

.suggestion-item {
    background-color: var(--tg-theme-bg-color, white);
    border: 1px solid var(--tg-theme-section-separator-color, #ccc);
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    color: var(--tg-theme-text-color, black);
    transition: background-color 0.3s ease, transform 0.3s ease; /* Плавные переходы */
}

.suggestion-item .address {
    font-weight: bold;
    color: var(--tg-theme-text-color, black);
}

.suggestion-item .name {
    font-size: 14px;
    color: var(--tg-theme-subtitle-text-color, #666);
}

.suggestion-item:hover {
    background-color: var(--tg-theme-secondary-bg-color, #f1f1f1); /* Дополнительный цвет фона */
}

#from {
    flex: 7; /* Большая часть ширины */
}

.divider {
    display: flex;
    align-items: center; /* Центрирует содержимое по вертикали */
    justify-content: center; /* Центрирует содержимое по горизонтали */
    color: var(--tg-theme-section-separator-color, #ccc); /* Цвет разделителя */
    font-size: 25px; /* Размер текста разделителя */
}

#entrance {
    flex: 1; /* Меньшая часть ширины */
    min-width: 85px; /* Минимальная ширина для поля подьезда */
    color: var(--tg-theme-text-color, black);
}

.map-btn {
    width: 5%;
    min-width: 30px; /* Минимальная ширина для поля подьезда */
    /* display: none; */
}

.separator{
    background-color: var(--tg-theme-section-separator-color, #ccc);
    box-sizing: border-box;
    display: block;
    height: 1px;
    position: absolute;
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    z-index: 50;
}
.to-input-container {
    border-radius: 4px; /* Скругление углов */
    display: flex;
    width: 100%;
    height: 15%; /* Используем проценты для адаптивности */
    justify-content: center; /* Центрирует по горизонтали */
    overflow: hidden;
    margin-bottom: 10px; /* Добавлен отступ снизу */
}

#to {
    flex: 1;
}

#submit-btn {
    width: 95%;
    height: 100%; /* Используем проценты для адаптивности */
    top: -2px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px;
    background-color: var(--tg-theme-button-color, #0088cc);
    color: var(--tg-theme-button-text-color, #ffffff);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
}

input[type="search"]::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
  
    /* Now your own custom styles */
     height: 14px;
     width: 14px;
     display: block;
     background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
    /* setup all the background tweaks for our custom icon */
    background-repeat: no-repeat;
  
    /* icon size */
    background-size: 14px;
  
  }
